<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>384531590973-8j4il8lrphkvf0c6t7up1gep9mj454hf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.384531590973-8j4il8lrphkvf0c6t7up1gep9mj454hf</string>
	<key>API_KEY</key>
	<string>AIzaSyAR9KSdryHMqM8W6JhfySgYA81wx7oKE1I</string>
	<key>GCM_SENDER_ID</key>
	<string>384531590973</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chats</string>
	<key>PROJECT_ID</key>
	<string>chats-8476f</string>
	<key>STORAGE_BUCKET</key>
	<string>chats-8476f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:384531590973:ios:f7096c670955b9e515df54</string>
</dict>
</plist>